html {
  scroll-behavior: smooth;
}

body {
  font-family: Fantasque Sans Mono, "Courier New", monospace;

  background-image: radial-gradient(
    circle closest-side,
    rgb(55, 206, 60) 0%,
    rgb(54, 54, 148) 20%,
    rgb(255, 205, 4) 100%
  );
}

h2 {
  color: chocolate;
}

img,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 80%;
  height: 400px;
}
